@import "../../colors";

.download-page {
  overflow: hidden;
  .game-tabs {
    padding-top: 15px;
    color: $primaryColor;
    background: #0a0a0a;
    display: flex;
    flex-direction: column;
    .game-type-icon {
      width: 100px;
    }
  }
  .game {
    width: 100%;
    border-radius: 4px;
  }
  .provider{
    background: transparent;
    color: $primaryColor;
    box-shadow: none
  }
  .game-search {
    margin: 15px 20px;
  }
  .group {
    margin: 15px 0;
    display: flex;
    align-items: center;
    .toogle-search {
      margin-right: 10px;
    }
    > button {
      padding: 0;
    }
  }
  .microgaming {
    overflow: hidden;
    position: relative;
    height: 130px;
  }
  
  .microgaming img {
    position: absolute;
    clip-path: inset(0% 48% 0% 0%);
    left: 10%;
    height: 70%;
    width: 175%;
  }
  .microgaming span {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .logo {
    width: 100%;
  }
  .custom-block{
    border: 1px solid #efd77f;
    border-radius: 4px;
    margin-right: 5px;
    max-width: 32.0%;
    &:last-child{
      margin-right: 0px;
    }
  }
  // .provider {
  //   background: transparent;
  //   color: $primaryColor;
  //   box-shadow: none;
  // }
  .btn-download {
    color: #efd77f;
    border: 1px solid rgba(239, 215, 127, 0.5);
    padding: 5px 7px;
    font-size: 1.0rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: hokifont;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    text-transform: uppercase;
  }
}

.form-password {
  margin-top: 15px;
  color: $primaryColor;
  .title {
    line-height: 70px;
  }
  .container {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    > div {
      margin-top: 15px;
      width: 75%;
      align-self: center;
    }
  }
  form {
    width: 100%;
  }
  .bottom-wraper{
    margin-top:50px;
  }
  .MuiFormLabel-root.Mui-disabled,
  .MuiIconButton-root {
    color: $primaryColor;
  }
}