@import '../../colors';

.register-page {
  margin-top: 56px;
  .title {
    line-height: 70px;
  }
  .container {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    > div {
      margin-top: 15px;
      width: 75%;
      align-self: center
    }
  }
}