@import "../../../../colors";
.header-wraper {
  margin-top: 56px;
  .header {
    > div {
      color: $primaryColor;
      background: $backgroundBody;
    }
    .flex-grow {
      flex-grow: 1;
    }
    .header-left {
      color: $primaryColor;
      display: flex;
      align-items: center;
    }
  }
  .content-header {
    display: flex;
  }
  .logo {
    max-width: 150px;
  }
}
.profile-menu {
  .MuiList-root {
    padding: 0;
    font-size: inherit;
    color: inherit;
    .MuiListItemText-root{
      span{
        font-size: 17px;
      }
    }
    .MuiListItem-gutters {
      padding-left: 0;
    }
    .MuiList-root {
      a {
        color: $primaryColor;
      }
    }
  }
  .MuiCollapse-wrapper{
    padding-left: 10px;
  }
}
.MuiMenu-paper {
  box-shadow: 0 0 15px $primaryColor;
  background: $backgroundBody;
  top: 50px !important;
  color: $primaryColor;
  .MuiMenu-list li:first-child {
    border-bottom: 1px solid $primaryColor;
  }
}
.MuiMenuItem-root {
  min-height: 35px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: inherit;
}
.block-hidden {
  width: 40px;
  display: block;
}

@media only screen and (max-width: 320px) {
  .header-wraper .header .logo {
    max-width: 110px;
  }
}
