@import '../../colors';

.slot-page {
  .game-tabs {
    padding-top: 15px;
    color: $primaryColor;
    background: #0a0a0a;
    display: flex;
    flex-direction: column;
    .game-type-icon {
      width: 100px;
    }
  }
  .game {
    width: 100%;
    border-radius: 4px;
  }
  .provider{
    background: transparent;
    color: $primaryColor;
    box-shadow: none
  }
  .game-search {
    margin: 15px 20px;
  }
  .group {
    margin: 15px 0;
    display: flex;
    align-items: center;
    .toogle-search {
      margin-right: 10px;
    }
    > button {
      padding: 0;
    }
  }
  .microgaming {
    overflow: hidden;
    position: relative;
    height: 130px;
  }
  
  .microgaming img {
    position: absolute;
    clip-path: inset(0% 48% 0% 0%);
    left: 10%;
    height: 70%;
    width: 175%;
  }
  .microgaming span {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}