@import "../../colors";
.bottom-wraper {
  margin-top: 49px;
  .bottom {
    border-top: 1px solid $primaryColor;
    color: $primaryColor;
    background: $backgroundBody;
    position: fixed;
    top: auto;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 100%;
    z-index: 1000;
    .icon {
      width: 20px
    }
  }
  .MuiBottomNavigationAction-label.MuiBottomNavigationAction-iconOnly{
    opacity: 1;
  }
  .MuiBottomNavigationAction-root.MuiBottomNavigationAction-iconOnly{
    padding-top: 8px;
  }
}