@import "../../colors";
.bottom-wraper {
  margin-top: 65px;
  .bottom {
    border-top: 1px solid $primaryColor;
    color: $primaryColor;
    background: $backgroundBody;
    position: fixed;
    top: auto;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 100%;
    .icon {
      width: 20px
    }
  }
}