@import '../../colors';

.home-page {
  .game-tabs {
    color: $primaryColor;
    background: #0a0a0a;
    display: flex;
    flex-direction: column;
    .game-type-icon {
      width: 50px;
    }
  }
  .logo {
    width: 100%;
  }
  .provider{
    background: transparent;
    color: $primaryColor;
    box-shadow: none
  }
}