@import '../../colors';

.home-page {
  overflow: hidden;
  .game-tabs {
    color: $primaryColor;
    background: #0a0a0a;
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    .game-type-icon {
      width: 40px;
    }
  }
  .marquee{
    background: $backgroundBody;
    color: $primaryColor;
  }
  .logo {
    width: 100%;
  }
  .provider{
    background: transparent;
    color: $primaryColor;
    box-shadow: none
  }
  .authentication {
    .login {
      height: 35px;
      line-height: 35px;
      display: inline-block;
      width: 50%;
      color: rgba(0, 0, 0, 0.87);
      background-color: $primaryColor;
    }
    .register {
      height: 35px;
      line-height: 35px;
      display: inline-block;
      width: 50%;
      color: #fff;
      background-color: $secondaryColor;
    }
  }
}