@import "../../colors";

.deposit-page {
  margin-top: 56px;
  color: $primaryColor;
  background: $backgroundBody;
  .title {
    line-height: 70px;
  }
  .container {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    > div {
      margin-top: 15px;
      width: 75%;
      align-self: center;
    }
  }
  form {
    width: 100%;
  }
  .bottom-wraper{
    margin-top:50px;
  }
  .MuiFormLabel-root.Mui-disabled,
  .MuiIconButton-root {
    color: $primaryColor;
  }
}
