@import "../../colors";

.drawer {
  color: $primaryColor;
  background: $backgroundBody;
  font-size: 17px;
  .MuiListItem-button {
    &:hover{
      text-decoration: none;
      background: rgba(239, 215, 127, 0.2);
      .item{
        color: $primaryColor;
      }
      span.item-text{
        color: $primaryColor;
        display: block;
      }
    }
  }
  .item {
    width: 100%;
    text-align: left;
    span {
      img {
        margin-right: 8px;
      }
    }
  }
  ul {
    div {
      span {
        font-size: inherit;
        img {
          margin-right: 8px;
        }
      }
      .MuiCollapse-wrapper {
        margin-left: 15px;
      }
    }
  }
  .MuiSvgIcon-root {
    position: absolute;
    right: 0;
  }
  span.item-text{
    color: #fff;
    display: block;
  }
  img.icon-menu{
    width: 15px;
  }
}
