@import "../../colors";
.header-wraper{
  margin-top: 64px;
  .header {
    >div {
      color: $primaryColor;
      background: $backgroundBody;
    }
    .flex-grow {
      flex-grow: 1;
    }
    .header-left {
      color: $primaryColor;
      display: flex;
      align-items: center;
    }
    .logo {
      max-width: 150px;
    }
  }
  .content-header{
    display: flex;
  }
}
.MuiMenu-paper{
  box-shadow: 0 0 15px $primaryColor;
  background: $backgroundBody;
  top:50px !important;
  color: $primaryColor;
  .MuiMenu-list li:first-child{
    border-bottom: 1px solid $primaryColor;
  }
}
.MuiMenuItem-root{
  min-height: 35px;
  padding-top: 0;
  padding-bottom:0;
  font-size: inherit;
}
@media only screen and (max-width: 320px) {
  .header-wraper .header .logo{
    max-width: 110px;
  }
}