@import '../../colors';

.select-input-custom {
    border-color: $primaryColor;
    border: 1px solid;
    border-radius: 4px;
  label {
    color: $primaryColor,
  }
  .MuiFormLabel-root {
    text-align: left
  }
  .MuiInput-underline:after {
    // border-bottom-color: $primaryColor
  }
  .MuiOutlinedInput-root {
    
    & fieldset {
      border-color: $secondaryColor;
    }
  }
  .MuiInput-input, .MuiNativeSelect-icon {
    color: $primaryColor
  }
  .error {
    color: $primaryColor
  }
}