@import "../../colors";
.footer-wraper{
  margin-bottom: 56px;
  .footer {
    >div {
      color: $primaryColor;
      background: $backgroundBody;
    }
    bottom: 0;
    top: auto;
    .icon {
      width: 30px;
    }
  }
}