@import "colors";

html {
  background: $backgroundBody;
  text-align: center;
}

body {
  background-color: $backgroundBody !important;
}
.MuiButtonBase-root {
  color: none;
  background-color: none;
}

a {
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}
.term-page {
  color: $primaryColor;
  background: $backgroundBody;
  .container {
    text-align: left;
    padding: 0 15px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-input-custom,
.select-input-custom {
  label {
    color: $primaryColor;
  }
  .MuiInputBase-root {
    color: $primaryColor;
  }
  .MuiInput-underline:before {
    border-bottom-color: $primaryColor;
  }
  .MuiOutlinedInput-root {
    & fieldset {
      border-color: $primaryColor;
    }
  }
  .MuiInputBase-root.Mui-disabled {
    color: $primaryColor;
    cursor: default;
  }
  .MuiInputBase-input.Mui-disabled {
    opacity: 0.7;
  }
  .MuiOutlinedInput-root.Mui-disabled .MuiOutlinedInput-notchedOutline {
    border-color: $primaryColor;
  }
  .MuiInput-input {
    color: $primaryColor;
  }
  .MuiNativeSelect-outlined {
    border-color: $primaryColor;
  }
}

.primary {
  color: $primaryColor;
}

<<<<<<< HEAD
=======
.PrivateTabIndicator-root-176 {
  height: 0 !important;
}

.MuiTab-textColorInherit {
  &.Mui-selected {
    border: 2px solid $primaryColor;
    border-radius: 8px;
  }
}

// MuiNativeSelect-root MuiNativeSelect-select MuiNativeSelect-outlined MuiInputBase-input MuiInput-input
>>>>>>> 9d4a5d65bdc6d317e27151904a49f2b4078d2c30
