@import "colors";

html {
  background: $backgroundBody;
  text-align: center;
}

body{
  background-color: $backgroundBody !important;
}
.MuiButtonBase-root {
  color: none;
  background-color: none;
}

a {
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}
.term-page{
  color: $primaryColor;
  background: $backgroundBody;
  .container{
      text-align: left;
      padding: 0 15px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-input-custom {
  label {
    color: $primaryColor,
  }
  .MuiInputBase-root {
    color: $primaryColor,
  }
  .MuiInput-underline:before {
    border-bottom-color: $primaryColor
  }
  .MuiOutlinedInput-root {
    & fieldset {
      border-color: $secondaryColor,
    }
  }
  .MuiInput-input {
    color: $primaryColor
  }
}

.primary { 
  color: $primaryColor
}
