@import "colors";

.App {
  background: $backgroundBody;
  text-align: center;
}

.MuiButtonBase-root {
  color: none;
  background-color: none;
}

a {
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
