@import '../../colors';
.term-page{
    color: $primaryColor;
    background: $backgroundBody;
    .container{
        text-align: left;
        padding: 0 15px 15px 15px;
        color:$gray-head;
        ul.list-custom{
            margin-left: 0;
            padding-left: 20px;
        }
    }
}